#ControlBox { width:100%; height: auto; padding: 0 0 5px; display: grid; grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; grid-gap: 20px; }

.ControlBtns { padding: 5px; background-color: transparent; border: 2px solid var(--colPrimary); color:var(--colPrimary); border-radius: 5px; margin: 3px; cursor: pointer; }

#OpenListBtn { background-color: var(--colPrimary); color: var(--colWhite); }
#EndGameBtn {  }
#ExitBtn {  }
#CounterdownBox { color: var(--colText); font-size: 22px; text-align: center; padding: 5px 0; }
#ScoreBox { color: var(--colText); font-size: 22px; text-align: center; padding: 5px 0; }
#RemainMarkerBox { color: var(--colText); font-size: 22px; text-align: center; padding: 5px 0; }

.markersBox { position:absolute; top: 0px; left: -50px; width:30px; height: 30px; padding: 5px; margin: 0; background-color: transparent; border-radius: 25px; box-shadow: 0px 0px 3px 2px inset rgba(0, 0, 0, 0.8); }

.markersInline { z-index:99; display: block; }
.markersOffline { z-index:0; display: none; }

.markersActive { background-color: transparent; border: 4px solid #f757a9; cursor: pointer; color:#f757a9; }
.markersInactive { background-color: transparent; border: 4px solid #bff209; cursor: pointer; color:#bff209; }

.markerOptions { width: 20px; height:20px; position:absolute; z-index:101; cursor:pointer; -webkit-filter: drop-shadow(0px 0px .5px rgb(0, 0, 0)); filter: drop-shadow(0px 0px .5px rgb(0, 0, 0)); }
#markerTrash { color:#FF0000; top: -10px;  }
#markerThumbtack { color: #00CCCC; top: 20px; }
.markerOptsRight { left: 50px; }
.markerOptsLeft { right: 50px; }


#thingsListBox { position: absolute; box-sizing: border-box; width:100%; height: auto; top: 0; margin:0; padding: 10px; z-index:12; background-color: var(--colPrimary); overflow:hidden; transition: height 1s; } 

#helpDataBox { 
    position: absolute; 
    box-sizing: border-box; 
    width:100%; 
    height: 0; 
    top: 0; 
    left: 0;
    right: 0;
    margin:0; 
    padding: 0; 
    z-index:12; 
    background-color: var(--colPrimary);
    overflow:hidden; 
    transition: height 1s; 
    display: inline;
    color: var(--colWhite);
    line-height: 200%;
    font-size: 15px;
} 

.searchItemLst { 
    display: inline;
    padding: 0;
    margin: 3px 10px 3px 10px;
    color: var(--colWhite);
    line-height: 200%;
    font-size: 15px;
} 

.searchItemLst:before { content:'\25C9'; margin-right:10px; } 

#itmlistH5 { 
    display:inline-block; 
    font-size:16px; 
    font-weight:bold; 
    margin:0; 
    padding:0; 
    color: var(--colWhite);
}


